*{
    margin: 0;
    padding: 0;
}

.responsive-test{
    background-color: red;
    color: white;
    font-size: 45px;
}

@media (max-width:1200px) {
    .responsive-test{
        background-color: blue;
        color: chartreuse;
    } 
}
@media (max-width:768px) {
    .responsive-test{
        background-color: rgb(221, 16, 187);
        color: rgb(8, 8, 8);
        font-size: 60px;
    } 
}